body {
    background-color: #faf7ed;
}

a {
    color: #f88379;
}

a:hover {
    color: #faf7ed;
    background-color: #f88379;
}

.invite {
    padding-top: 100px;
    margin-bottom: 32px;
    text-align: center;
    font-family: "Fira Mono", monospace;
    background: url("../images/background.png") no-repeat;
    background-position: 50% 0;
    min-height: 100%;
    min-width: 100%;
}

.invite #separator {
    min-height: 350px;
}
